extends ../components/base/layout

block variables
    - const title = "Электрический заряд"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "index.html"

block main
    main
      +intro()
      +categories()
      +brands()
      +recommend()
      +watched()

block modals
  +modal("modal--request")(data-modal="request")
    +feedback({
        title: "Заказать звонок",
        description: "Оставьте контакты для связи и&nbsp;наш менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время."
      })
