extends ../components/base/layout

block variables
    - const title = "Электрический заряд | Оформление заказа"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "order.html"

block main
    main
      +inner-page({
        breadcrumbs: [
          {
          href: "#",
          text: "Моя корзина"
          },
          {
            href: "#",
            text: "Мои заказы",
            isActive: "true",
          }
        ],
        title: "Оформление заказа"
      })
        +order()

block modals
