extends ../components/base/layout

block variables
    - const title = "Электрический заряд | Электросамокат Ninebot KickScooter T15"
    - const wrapperMods = ""
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "product.html"

block main
    main
      +inner-page({
        breadcrumbs: [
          {
          href: "#",
          text: "Каталог"
          },
          {
            href: "#",
            text: "Электросамокаты",
          },
          {
            href: "#",
            text: "Электросамокат Ninebot KickScooter T15",
            isActive: "true"
          }
        ],
        title: "Электросамокат Ninebot KickScooter T15"
      })
        +product()
      +product-features()
      +section({
        title: "О&nbsp;товаре",
        content: {
          description: [
            "Ультракомпактный электросамокат с&nbsp;футуристичным дизайном для коротких поездок по&nbsp;городу. Главная особенность модели заключается в&nbsp;возможности поддержания постоянной скорости даже во&nbsp;время спусков и&nbsp;подъемов до&nbsp;15 &deg;. В&nbsp;сложенном состоянии электросамокат занимает минимум места благодаря плоским формам элементов.",
            "Электросамокат Air T15 весит чуть менее 10&nbsp;кг и&nbsp;разгоняется до&nbsp;20&nbsp;км/ч. Здесь установлен 300-ваттный мотор с&nbsp;запасом хода 14,5&nbsp;км. Дальность поездки можно увеличить за&nbsp;счет рекуперации. Разумеется, запас хода будет увеличиваться только при торможении.",
            "На&nbsp;руле присутствует небольшой дисплей с&nbsp;ключевой информацией. Чтобы сложить электросамокат, достаточно одного нажатия кнопки."
          ]
        }
      })
      +section({
        title: "Доставка и&nbsp;оплата",
        content: {
          description: [
            "Наш интернет-магазин предоставляет удобную платформу для оформления заказов. Вам не&nbsp;нужно тратить время на&nbsp;поиск по&nbsp;городу&nbsp;&mdash; просто выберите подходящий продукт, добавьте его в&nbsp;корзину и&nbsp;оформите заказ в&nbsp;несколько кликов.",
            "Мы&nbsp;уделяем большое внимание безопасности ваших данных и&nbsp;платежей. Каждое приобретенное у&nbsp;нас средство передвижения сопровождается гарантией производителя.",
            "Мы&nbsp;предоставляем удобные варианты доставки, чтобы вы&nbsp;получили ваш заказ вовремя и&nbsp;в&nbsp;отличном состоянии. После покупки мы&nbsp;также готовы оказать поддержку в&nbsp;вопросах технического обслуживания и&nbsp;ремонта."
          ]
        }
      })
      +recommend()
      +watched()

block modals
