extends ../components/base/layout

block variables
    - const title = "Электрический заряд | Сервис"
    - const wrapperMods = "wrapper--overflow"
    - const hasHeader = true
    - const headerMods = ""
    - const hasFooter = true
    - const footerMods = ""
    - const currentUrl = "service.html"

block main
    main
      +intro({
        background: {
          src: "background-2",
          format: "webp",
          width: "1920",
          height: "272",
          alt: "background"
        },
        breadcrumbs: [
          {
          href: "#",
          text: "Главная страница"
          },
          {
            href: "#",
            text: "Сервис",
            isActive: "true",
          }
        ],
        title: "Сервисное обслуживание"
      }).intro--inner-page
      +section({
        background: {
          mods: "section__background--left"
        },
        title: "Предпродажная подготовка электротранспорта",
        content: {
          description: [
            "Наш интернет-магазин &laquo;Электрический заряд&raquo; является надёжным и&nbsp;проверенным поставщиком электротранспорта в&nbsp;России, а&nbsp;в&nbsp;частности, в&nbsp;Санкт-Петербурге.",
            "Мы&nbsp;предоставляем сертифицированное оборудование высшего класса, отвечающее всем необходимым требованиям и&nbsp;проходящее тщательное тестирование.",
            "Наш магазин напрямую взаимодействует с&nbsp;заводами изготовителями, чтобы гарантировать, что все наши товары являются подлинными и&nbsp;отвечают самым высоким стандартам качества.",
            "Прежде чем попасть к&nbsp;своим счастливым владельцам, каждый товар проходит тщательную проверку нашими специалистами, гарантирующую отсутствие заводских дефектов и&nbsp;недостатков."
          ]
        },
        image: {
          src: "image-3",
          format: "webp",
          width: "680",
          height: "600",
          alt: "Коробка"
        }
      }).section--columns
      +section({
        background: {
          mods: "section__background--right"
        },
        title: "Этапы процедуры предпродажной подготовки",
        content: {
          description: [
            "Подготовка к&nbsp;предпродажной подготовке включает в&nbsp;себя ряд этапов."
          ],
          orderedList: [
            "Сначала мы&nbsp;осматриваем внешнее состояние коробки товара, чтобы выявить все видимые повреждения.",
            "Затем мы&nbsp;осторожно вскрываем коробку и&nbsp;убеждаемся, что упаковка не&nbsp;повреждена.",
            "После этого мы&nbsp;извлекаем товар, собираем его, оцениваем функциональность, проверяем комплектность коробки, а&nbsp;затем собираем в&nbsp;обратной последовательности."
          ]
        }
      })
      +section({
        background: {
          mods: "section__background--left section__background--up section__background--bottom-330"
        },
        title: "Условия предоставления гарантии от производителя",
        content: {
          unorderedList: [
            "Наличие документов, подтверждающих покупку&nbsp;&mdash; товарного чека с&nbsp;указанием даты продажи и&nbsp;наименования товара;",
            "Наличие упаковки и&nbsp;всех комплектующих;",
            "Отсутствие на&nbsp;товаре следов вскрытия или любого другого механического вмешательства;",
            "Использование устройства в&nbsp;соответствии с&nbsp;правилами эксплуатации, установленными в&nbsp;инструкции пользователя."
          ]
        }
      })
      +service()
      +watched()

block modals
