mixin catalog()
  -
    const categoriesElements = [
      {
        button: "Электросамокаты",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Электровелосипеды",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Электроскутеры",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Сигвеи",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Электромотоциклы",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Моноколеса",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Электроквадроциклы",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Гироскутеры",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Рюкзаки пиксель",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      },
      {
        button: "Детские",
        list: [
          {
            text: "Трехколесные"
          },
          {
            text: "Городские"
          },
          {
            text: "Электромопеды"
          }
        ]
      }
    ]

  -
    const filterElements = [
      {
        button: "Производители",
        list: [
          {
            label: "Minipro",
            name: "minipro"
          },
          {
            label: "Xiaomi",
            name: "xiaomi"
          },
          {
            label: "Elbike",
            name: "elbike"
          },
          {
            label: "EL-Sport",
            name: "el-sport"
          },
          {
            label: "Yokamura",
            name: "yokamura"
          },
          {
            label: "Ninebot",
            name: "ninebot"
          },
          {
            label: "White Siberia",
            name: "white siberia"
          },
          {
            label: "GREEN CITY",
            name: "green city"
          },
          {
            label: "ELTRECO",
            name: "eltreco"
          },
          {
            label: "Minipro",
            name: "minipro"
          },
          {
            label: "Smart Balance",
            name: "smart balance"
          },
          {
            label: "Currus",
            name: "currus"
          },
          {
            label: "GT",
            name: "gt"
          },
          {
            label: "WoLong",
            name: "wolong"
          }
        ]
      },
      {
        button: "Мощность",
        list: [
          {
            label: "100 ватт",
            name: "100watt"
          },
          {
            label: "200 ватт",
            name: "200watt"
          },
          {
            label: "300 ватт",
            name: "300watt"
          }
        ]
      },
      {
        button: "Максимальный запас хода",
        list: [
          {
            label: "Есть",
            name: "yes"
          },
          {
            label: "Нет",
            name: "no"
          }
        ]
      },
      {
        button: "Год выпуска",
        list: [
          {
            label: "Есть",
            name: "yes"
          },
          {
            label: "Нет",
            name: "no"
          }
        ]
      },
      {
        button: "Тип колёс",
        list: [
          {
            label: "Есть",
            name: "yes"
          },
          {
            label: "Нет",
            name: "no"
          }
        ]
      },
      {
        button: "Дисплей",
        list: [
          {
            label: "Есть",
            name: "yes"
          },
          {
            label: "Нет",
            name: "no"
          }
        ]
      },
      {
        button: "Складной",
        list: [
          {
            label: "Есть",
            name: "yes"
          },
          {
            label: "Нет",
            name: "no"
          }
        ]
      },
      {
        button: "Подножка",
        list: [
          {
            label: "Есть",
            name: "yes"
          },
          {
            label: "Нет",
            name: "no"
          }
        ]
      }
    ]

  -
    const list = [
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Зеленый квадроцикл"
        },
        type: "Электроквадроцикл",
        title: "Электроквадроцикл Сахара А14К 4&times;4 Monster",
        price: "1&nbsp;203&nbsp;000&nbsp;₽",
        oldPrice: "1&nbsp;000&nbsp;000&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-7",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-5",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электроскутер"
        },
        type: "Электроскутер",
        title: "Электроскутер GreenCamel Трофи SUMMA",
        price: "54&nbsp;800&nbsp;₽",
        oldPrice: "74&nbsp;800&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-6",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Зеленый квадроцикл"
        },
        type: "Электроквадроцикл",
        title: "Электроквадроцикл Сахара А14К 4&times;4 Monster",
        price: "1&nbsp;203&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-7",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-5",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электроскутер"
        },
        type: "Электроскутер",
        title: "Электроскутер GreenCamel Трофи SUMMA",
        price: "54&nbsp;800&nbsp;₽",
        oldPrice: "74&nbsp;800&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-6",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Зеленый квадроцикл"
        },
        type: "Электроквадроцикл",
        title: "Электроквадроцикл Сахара А14К 4&times;4 Monster",
        price: "1&nbsp;203&nbsp;000&nbsp;₽",
        oldPrice: "1&nbsp;000&nbsp;000&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-7",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-5",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электроскутер"
        },
        type: "Электроскутер",
        title: "Электроскутер GreenCamel Трофи SUMMA",
        price: "54&nbsp;800&nbsp;₽",
        oldPrice: "74&nbsp;800&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-6",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Зеленый квадроцикл"
        },
        type: "Электроквадроцикл",
        title: "Электроквадроцикл Сахара А14К 4&times;4 Monster",
        price: "1&nbsp;203&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-7",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-5",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электроскутер"
        },
        type: "Электроскутер",
        title: "Электроскутер GreenCamel Трофи SUMMA",
        price: "54&nbsp;800&nbsp;₽",
        oldPrice: "74&nbsp;800&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-6",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Зеленый квадроцикл"
        },
        type: "Электроквадроцикл",
        title: "Электроквадроцикл Сахара А14К 4&times;4 Monster",
        price: "1&nbsp;203&nbsp;000&nbsp;₽",
        oldPrice: "1&nbsp;000&nbsp;000&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-7",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-5",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электроскутер"
        },
        type: "Электроскутер",
        title: "Электроскутер GreenCamel Трофи SUMMA",
        price: "54&nbsp;800&nbsp;₽",
        oldPrice: "74&nbsp;800&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-6",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-1",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Зеленый квадроцикл"
        },
        type: "Электроквадроцикл",
        title: "Электроквадроцикл Сахара А14К 4&times;4 Monster",
        price: "1&nbsp;203&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-7",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      },
      {
        href: "#",
        image: {
          src: "image-5",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электроскутер"
        },
        type: "Электроскутер",
        title: "Электроскутер GreenCamel Трофи SUMMA",
        price: "54&nbsp;800&nbsp;₽",
        oldPrice: "74&nbsp;800&nbsp;₽"
      },
      {
        href: "#",
        image: {
          src: "image-6",
          format: "webp",
          width: "280",
          height: "280",
          alt: "Черный электросамокат"
        },
        type: "Электросамокат",
        title: "Электросамокат Electric Scooter m365",
        price: "35&nbsp;000&nbsp;₽",
      }
    ]

  .catalog
    form(method="get")
      .catalog__wrapper
        .catalog__filter(data-filter data-media="(max-width: 1199px)")
          .catalog__top
            button.btn-reset.catalog__return(type="button" aria-label="Закрыть меню фильтров" data-filter-close)
              +icon("icon-arrow-return", 24, 24)
            p.catalog__label Фильтры
            button.btn-reset.catalog__close(type="button" aria-label="Закрыть меню фильтров" data-filter-close)
              +icon("icon-close", 48, 48)
          +catalog-categories(categoriesElements).catalog__categories
          +catalog-filter(filterElements)
          +btn({type: "button", text: "Показать"}).btn--orange.catalog__show
        .catalog__main
          .catalog__sort
            +custom-select({
              name: "sort",
              list: [
                {
                  value: "price-up",
                  text: "По&nbsp;возрастанию цены",
                  isActive: "true"
                },
                {
                  value: "price-down",
                  text: "По&nbsp;убыванию цены"
                },
                {
                  value: "popular",
                  text: "Популярные"
                },
                {
                  value: "new",
                  text: "Новинки"
                }
              ]
            }).catalog__select
            button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-filter-menu).btn-reset.catalog__toggle
              +icon("icon-setting", 24, 24)
              | Фильтры
          ul.list-reset.catalog__list
            each item in list
              li.catalog__item
                +product-card(item)
          +btn({type: "button", text: "Загрузить ещё"}).catalog__button
