mixin catalog-filter(elements)
  .catalog-filter
    .catalog-filter__accordion(data-accordion="parent" data-destroy="(max-width: 1199px)")
      .catalog-filter__element(data-accordion="element")
        button.btn-reset.catalog-filter__button(type="button" data-accordion="button")
          +icon("icon-chevron-down", 24, 24)
          | Фильтры
        .catalog-filter__content(data-accordion="content")
          .catalog-filter__wrapper
            .catalog-filter__sub-accordion(data-accordion="parent")
              each element in elements
                .catalog-filter__sub-element(data-accordion="element")
                  button.btn-reset.catalog-filter__sub-button(type="button" data-accordion="button")
                    +icon("icon-chevron-down", 24, 24)
                    !=element.button
                  .catalog-filter__sub-content(data-accordion="content")
                    .catalog-filter__content-wrapper
                      ul.list-reset.catalog-filter__list
                        each item in element.list
                          li.catalog-filter__item
                            +custom-checkbox({
                              label: item.label,
                              name: item.name
                            }).catalog-filter__checkbox
                            .catalog-filter__range
                              .catalog-filter__input
                                input(type="number" name="min" placeholder="от 100")
                              .catalog-filter__input
                                input(type="number" name="max" placeholder="до 1000")
            .catalog-filter__buttons-wrapper
              +btn({type: "button", text: "Показать"}).btn--orange.catalog-filter__show
              +btn({type: "button", text: "Сбросить"}).catalog-filter__reset
