mixin categories()
  -
    const list = [
      {
        href: "#",
        image: {
          src: "electric-scooter",
          format: "webp",
          width: "280",
          height: "260",
          alt: "Черный электросамокат"
        },
        title: "Электросамокаты"
      },
      {
        href: "#",
        image: {
          src: "electric-bike",
          format: "webp",
          width: "280",
          height: "260",
          alt: "Черный электровелосипед"
        },
        title: "Электровелосипеды"
      },
      {
        href: "#",
        image: {
          src: "electric-scooter",
          format: "webp",
          width: "280",
          height: "260",
          alt: "image"
        },
        title: "Электросамокаты"
      },
      {
        href: "#",
        image: {
          src: "segway",
          format: "webp",
          width: "280",
          height: "260",
          alt: "Белый сигвей"
        },
        title: "Сигвеи"
      },
      {
        href: "#",
        image: {
          src: "electric-scooter",
          format: "webp",
          width: "280",
          height: "260",
          alt: "Черный электросамокат"
        },
        title: "Электросамокаты"
      },
      {
        href: "#",
        image: {
          src: "electric-bike",
          format: "webp",
          width: "280",
          height: "260",
          alt: "Черный электровелосипед"
        },
        title: "Электровелосипеды"
      },
      {
        href: "#",
        image: {
          src: "electric-scooter",
          format: "webp",
          width: "280",
          height: "260",
          alt: "image"
        },
        title: "Электросамокаты"
      },
      {
        href: "#",
        image: {
          src: "segway",
          format: "webp",
          width: "280",
          height: "260",
          alt: "Белый сигвей"
        },
        title: "Сигвеи"
      }
    ]

  +section({title: "Популярные категории"})
    .categories
      +slider-controls("categories")
      .categories__slider.swiper(data-slider="categories")
        .categories__slides.swiper-wrapper
          each item in list
            .categories__slide.swiper-slide
              +category-card(item)


