mixin delivery()
  .delivery
    .delivery__content
      h3.delivery__title Самовывоз
      p.delivery__description Вы&nbsp;можете самостоятельно забрать ваши покупки и&nbsp;ознакомится с&nbsp;условиями доставки по&nbsp;адресу: г. Санкт-Петербург, ул. Савушкина 141&nbsp;ТЦ Меркурий.
      h3.delivery__title Курьерская доставка по&nbsp;Санкт-Петербургу
      p.delivery__description Доставка по&nbsp;Санкт-Петербургу осуществляется ежедневно с&nbsp;10&ndash;00 до&nbsp;20&ndash;00.
      h3.delivery__title Курьерская доставка по&nbsp;Ленинградской области
      p.delivery__description Курьерская доставка по&nbsp;Ленинградской области рассчитывается индивидуально. Уточняйте у&nbsp;менеджера по&nbsp;тел.&nbsp;+7&nbsp;812 425-64-27
      p.delivery__attention Срок доставки товара по&nbsp;СПб зависит от&nbsp;наличия на&nbsp;складе магазина или центральном складе.
