mixin inner-page(data)
  section.inner-page&attributes(attributes)
    .container
      .inner-page__wrapper
        +breadcrumbs(data.breadcrumbs)
        h1.title.title--h2.inner-page__title!=data.title
        if block
          block
