mixin intro()
  -
    const list = [
      {
        href: "#",
        image: {
          src: "banner",
          format: "webp",
          width: "1920",
          height: "591",
          alt: "banner"
        }
      },
      {
        href: "#",
        image: {
          src: "banner",
          format: "webp",
          width: "1920",
          height: "591",
          alt: "banner"
        }
      },
      {
        href: "#",
        image: {
          src: "banner",
          format: "webp",
          width: "1920",
          height: "591",
          alt: "banner"
        }
      },
      {
        href: "#",
        image: {
          src: "banner",
          format: "webp",
          width: "1920",
          height: "591",
          alt: "banner"
        }
      }
    ]

  section.intro
    .intro__wrapper
      .intro__slider.swiper(data-slider="intro")
        .intro__slides.swiper-wrapper
          each item in list
            .intro__slide.swiper-slide
              a.intro__link(href=item.href)
                .intro__image
                  picture
                    source(media="(max-width: 767px)" srcset="img/content/intro/" + item.image.src + "-mobile" + "." + item.image.format + ", " + "img/content/intro/" + item.image.src + "-mobile" + "@2x." + item.image.format)
                    source(media="(max-width: 1023px)" srcset="img/content/intro/" + item.image.src + "-tablet" + "." + item.image.format + ", " + "img/content/intro/" + item.image.src + "-tablet" + "@2x." + item.image.format)
                    img(src="img/content/intro/" + item.image.src + "." + item.image.format srcset="img/content/intro/" + item.image.src + "@2x." + item.image.format width=item.image.width height=item.image.height alt=item.image.alt)
        .swiper-pagination
