mixin order-total()
  .order-total&attributes(attributes)
    .order-total__products-price
      p.order-total__text.order-total__text--bold Товаров&nbsp;на:
      p.order-total__price 156&nbsp;000&nbsp;₽
    .order-total__delivery-price
      p.order-total__text Доставка:
      p.order-total__price 500&nbsp;₽
    .order-total__total-price
      p.order-total__text.order-total__text--bold.order-total__text--big Всего к&nbsp;оплате:
      p.order-total__price.order-total__price--big 156&nbsp;500&nbsp;₽
