mixin service()
  section.service
    .service__background
      img(src="img/svg/background.svg" width="500" height="500")
    .container
      .service__wrapper
        .service__info
          h2.title.title--h2.service__title Услуги по&nbsp;тюнингу
          .service__content
            p Магазин &laquo;Электрический заряд&raquo; оказывает услуги по&nbsp;тюнингу и&nbsp;модернизации электротранспорта разных моделей и&nbsp;производителей.
            p Широко востребованы следующие модификации:
            ul
              li Обновление программного обеспечения&nbsp;&mdash; прошивка, предназначенная для увеличения скорости и&nbsp;дальности хода электроскутера.
              li Нанесение водостойкого покрытия на&nbsp;все важные компоненты скутера.
              li Установка детских ручек и&nbsp;подножек.
              li Усовершенствование складных механизмов и&nbsp;амортизаторов.
              li Индивидуальная покраска электросамоката.
              li Модернизация аккумулятора на&nbsp;более емкий.
              li Установка дополнительного освещения.
              li Дополнительная обжимка проводов для улучшения функциональности.
              li Усовершенствование контроллера для оптимальной работы.
            p В&nbsp;своей работе наши мастера ориентируются на&nbsp;достижение качественного и&nbsp;долговечного результата, выполнение любых запросов клиента и&nbsp;соблюдение согласованных сроков
          p.service__description Если у&nbsp;вас остались вопросы, просто позвоните нам и&nbsp;мы&nbsp;подберем для вас специальное предложение
          a(href="tel:88124256427").service__phone 8 (812) 425-64-27
        .service__form
          +feedback({
            title: "Хотите узнать больше?",
            description: "Оставьте заявку, мы&nbsp;сами с&nbsp;вами свяжемся"
          })
