.brands {
  margin: 32px 0 0;

  @include vp-1199 {
    margin: 50px 0 0;
  }

  @include vp-767 {
    margin: 40px 0 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    max-height: 438px;
    padding: 5px;

    overflow: hidden;

    @include vp-1439 {
      column-gap: 20px;
      row-gap: 20px;
    }

    @include vp-1199 {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
      row-gap: 40px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
      row-gap: unset;
      max-height: 876px;
    }

    &.is-open {
      max-height: unset;
      overflow: visible;
    }
  }

  &__item {
    @include vp-767 {
      margin: 0 0 30px;
    }

    &:last-child {
      @include vp-767 {
        margin: 0;
      }
    }
  }

  &__button {
    width: 100%;
    max-width: 320px;
    margin: 40px 0 0;

    @include vp-1199 {
      margin: 50px 0 0;
    }

    @include vp-767 {
      max-width: unset;
      margin: 40px 0 0;
    }
  }
}
