.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  border: 1px solid $color-night-rider;
  border-radius: 8px;
  background-color: $color-default-white;
  color: $color-night-rider;

  cursor: pointer;
  user-select: none;

  transition: border $trans-default, color $trans-default;

  outline: none;

  @include hover-focus {
    border: 1px solid $color-pumpkin;
    color: $color-pumpkin;
  }

  @include active {
    border: 1px solid $color-persimmon;
    color: $color-persimmon;
  }

  &--orange {
    padding: 17px 20px;

    border: none;
    background-color: $color-pumpkin;
    color: $color-default-white;

    @include hover-focus {
      border: none;
      background-color: $color-flamenco;
      color: $color-default-white;
    }

    @include active {
      border: none;
      background-color: $color-persimmon;
      color: $color-default-white;
    }
  }

  &--black {
    border: none;
    background-color: $color-night-rider;
    color: $color-default-white;

    transition: background-color $trans-default;

    @include hover-focus {
      border: none;
      background-color: $color-pumpkin;
      color: $color-default-white;
    }

    @include active {
      border: none;
      background-color: $color-persimmon;
      color: $color-default-white;
    }
  }
}
