.catalog {
  form {
    width: 100%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 320px 1fr;
    column-gap: 40px;

    @include vp-1439 {
      column-gap: 20px;
    }

    @include vp-1199 {
      display: flex;
      column-gap: unset;
    }
  }

  &__filter {
    @include vp-1199 {
      z-index: 100;
      position: absolute;
      top: -112px;
      left: 0;

      width: 100%;
      height: calc(100% + 112px);
      padding: 40px 44px 64px;

      background-color: $color-default-white;

      transition: opacity $trans-default, visibility $trans-default;

      opacity: 0;
      visibility: hidden;

      @include vp-767 {
        padding: 40px 35px 60px;
      }

      @include vp-389 {
        padding: 40px 20px 60px;
      }
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__top {
    position: relative;
    display: none;
    align-items: center;
    margin: 0 0 40px;
    padding: 0 0 35px;

    @include vp-1199 {
      display: flex;
    }

    &::after {
      content: "";
      position: absolute;

      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-pumpkin;
    }
  }

  &__return {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 0;

    cursor: pointer;
    user-select: none;

    svg {
      flex-shrink: 0;

      width: 24px;
      height: 24px;

      color: $color-pumpkin;

      transition: color $trans-default;
    }

    @include hover-focus {
      svg {
        color: $color-flamenco;
      }
    }
  }

  &__label {
    margin: 0 20px 0 0;

    font-weight: 600;
    font-size: 24px;
    line-height: 34px;

    color: $color-default-black;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 auto;

    cursor: pointer;
    user-select: none;

    svg {
      flex-shrink: 0;

      width: 48px;
      height: 48px;

      color: $color-pumpkin;

      transition: color $trans-default;

      @include vp-767 {
        width: 32px;
        height: 32px;
      }
    }

    @include hover-focus {
      svg {
        color: $color-flamenco;
      }
    }
  }

  &__categories {
    margin: 0 0 60px;

    @include vp-1199 {
      margin: 0 0 30px;
    }
  }

  &__show {
    display: none;
    width: 100%;
    max-width: 320px;
    margin: 40px 0 0;

    @include vp-1199 {
      display: flex;
    }

    @include vp-767 {
      max-width: unset;
    }
  }

  &__main {
    width: 100%;
  }

  &__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;

    @include vp-767 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__select {
    margin: 0 20px 0 0;

    @include vp-767 {
      margin: 20px 0 0;
    }
  }

  &__toggle {
    display: none;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: $color-default-black;

    transition: background-color $trans-default, color $trans-default;

    cursor: pointer;
    user-select: none;

    @include vp-1199 {
      display: flex;
    }

    @include vp-767 {
      order: -1;

      justify-content: center;

      width: 100%;
      padding: 10px;

      border-radius: 8px;
      background-color: $color-pumpkin;
      color: $color-default-white;
    }

    svg {
      flex-shrink: 0;

      width: 24px;
      height: 24px;
      margin: 0 4px 0 0;

      color: $color-pumpkin;

      @include vp-767 {
        color: $color-default-white;
      }
    }

    @include hover-focus {
      @include vp-767 {
        background-color: $color-flamenco;
      }
    }

    @include active {
      @include vp-767 {
        background-color: $color-persimmon;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;

    @include vp-1439 {
      column-gap: 20px;
      row-gap: 20px;
    }

    @include vp-1279 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-1199 {
      column-gap: 40px;
      row-gap: 40px;
    }

    @include vp-767 {
      display: flex;
      flex-direction: column;
      column-gap: unset;
      row-gap: unset;
    }
  }

  &__item {
    @include vp-767 {
      margin: 0 0 40px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__button {
    width: 100%;
    max-width: 320px;
    margin: 40px 0 0;

    @include vp-767 {
      max-width: unset;
    }
  }
}
