.custom-textarea {
  position: relative;

  label {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  textarea {
    height: 100%;
    padding: 16px 20px;

    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    border: none;
    border-radius: 12px;
    background-color: $color-white-smoke-2;
    color: $color-default-black;

    outline: none;

    &::placeholder {
      font-weight: 300;
      font-size: 15px;
      line-height: 22px;

      color: rgba($color-default-black, 0.5);
    }
  }

  &__label {
    display: block;
    margin: 0 0 10px;

    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
  }
}
