.custom-input {
  &--required {
    .custom-input__label {
      &::before {
        content: "*";
      }
    }
  }

  &--small {
    .custom-input__label {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      color: $color-default-black;

      &::before {
        content: none;

        font-weight: 600;
        font-size: 16px;

        color: $color-pumpkin;
      }
    }

    input {
      padding: 9px 14px 10px;

      font-weight: 400;
      font-size: 16px;

      border-radius: 4px;
      background-color: $color-white-smoke;
      color: $color-default-black;

      &::placeholder {
        font-weight: 400;
        font-size: 16px;

        color: rgba($color-default-black, 0.5);
      }
    }
  }

  label {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  &__label {
    display: block;
    margin: 0 0 10px;

    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    color: $color-default-black;

    &::before {
      content: none;

      font-weight: 300;
      font-size: 15px;
      line-height: 22px;

      color: $color-pumpkin;
    }
  }

  input {
    width: 100%;
    padding: 16px 20px;

    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    border: none;
    border-radius: 12px;
    background-color: $color-white-smoke;
    color: $color-default-black;

    outline: none;

    &::placeholder {
      font-weight: 300;
      font-size: 15px;
      line-height: 22px;

      color: rgba($color-default-black, 0.5);
    }
  }
}
