.header {
  position: relative;
  width: 100%;

  background-color: $color-night-rider;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-pumpkin;
  }

  &.is-open {
    .main-nav__toggle {
      span {
        &:nth-child(1) {
          top: 17px;
          transform: rotate(-45deg) translate(0, -50%);

          @include vp-767 {
            top: 12px;
          }
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          top: 13px;
          transform: rotate(45deg) translate(0, 50%);

          @include vp-767 {
            top: 10px;
          }
        }
      }
    }

    .main-nav__menu {
      transform: translateX(0);
    }

    .header__menu {
      transform: translateX(0);
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-1199 {
      padding: 22px 0;
    }
  }

  &__logo {
    position: relative;
    display: flex;
    flex-shrink: 0;

    width: 210px;
    height: 85px;
    margin-right: 60px;

    @include vp-1199 {
      width: 167px;
      height: 68px;
      margin-right: 20px;
    }

    svg {
      display: block;

      width: 210px;
      height: 85px;

      @include vp-1199 {
        width: 167px;
        height: 68px;
      }
    }
  }
}
