.inner-page {
  &__wrapper {
    padding: 64px 0;

    @include vp-767 {
      padding: 60px 0;
    }
  }

  &__title {
    margin: 0 0 32px;

    @include vp-1199 {
      margin: 0 0 42px;
    }

    @include vp-767 {
      margin: 0 0 30px;
    }
  }
}
