.intro {
  position: relative;

  &__wrapper {
    margin: 0 auto;
  }

  &__slider {
    width: 100%;
  }

  &__slides {
    width: 100%;
  }

  &__slide {
    display: flex;
  }

  &__link {
    display: block;
  }

  &__image {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .swiper-pagination {
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    position: relative;
    display: block;

    width: 8px;
    height: 8px;

    border: none;
    background-color: $color-default-white;

    transition: width $trans-default, border-radius $trans-default;
  }

  .swiper-pagination-bullet-active {
    width: 35px;

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: 0;

      border-radius: 4px;
      width: 8px;
      height: 8px;

      background-color: $color-pumpkin;

      animation: bullet 5s linear forwards;
    }
  }
}

@keyframes bullet {
  0% {
    width: 7px;
  }

  25% {
    width: 14px;
  }

  50% {
    width: 21px;
  }

  75% {
    width: 28px;
  }

  100% {
    width: 35px;
  }
}
