.order-payer {
  position: relative;
  margin: 0 0 30px;
  padding: 20px 0 30px;

  &::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-pumpkin;
  }

  &__input {
    margin: 0 0 20px;
  }

  &__textarea {
    height: 126px;
  }
}
