.page-not-found {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 170px 0 170px;

    @include vp-1199 {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 64px 0;
    }

    @include vp-767 {
      padding: 60px 0;
    }
  }

  &__image {
    width: 679px;
    height: 257px;
    margin: 0 160px 0 0;

    @include vp-1439 {
      margin: 0 40px 0 0;
    }

    @include vp-1199 {
      width: 505px;
      height: 190px;
      margin: 0 0 40px;
    }

    @include vp-767 {
      width: 285px;
      height: 107px;
      margin: 0 0 30px;
    }

    img {
      width: 679px;
      height: 257px;

      object-fit: contain;

      @include vp-1199 {
        width: 505px;
        height: 190px;
      }

      @include vp-767 {
        width: 285px;
        height: 107px;
      }
    }
  }

  &__content {
    flex-shrink: 0;
    max-width: 560px;
  }

  &__title {
    margin: 0 0 10px;

    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    color: $color-default-black;

    @include vp-767 {
      font-size: 32px;
      line-height: 48px;
    }
  }

  &__description {
    margin: 0 0 40px;

    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: $color-default-black;

    @include vp-767 {
      margin: 0 0 20px;
    }
  }

  &__button {
    width: 100%;
    max-width: 300px;

    @include vp-767 {
      max-width: unset;
    }
  }
}
