mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Каталог",
      },
      {
        href: "#",
        text: "О&nbsp;компании"
      },
      {
        href: "#",
        text: "Сервис"
      },
      {
        href: "#",
        text: "Контакты"
      }
    ]

  header.header(class=headerMods data-header data-media="(max-width: 1199px)")
    .container
      .header__wrapper
        a.header__logo(href="/", aria-label="Переход на главную")
          img(src="img/svg/logo.svg", width="210" height="85" alt="Логотип Электрический Заряд")
        nav.main-nav
          button(type="button" aria-label="Переключатель отображения меню", aria-pressed="false" data-toggle-menu).btn-reset.main-nav__toggle
            span
            span
            span
          .main-nav__menu
            .main-nav__top
              a.main-nav__link.main-nav__link--grey(href="#") Санкт-Петербург
              .main-nav__info
                a.main-nav__link.main-nav__link--grey(href="#") Доставка и&nbsp;оплата
                a.main-nav__link.main-nav__link--grey(href="#") Гарантия и&nbsp;возврат
            .main-nav__bottom
              ul.main-nav__list
                each item in headerLinks
                  li.main-nav__item
                    a.main-nav__link(href=item.href)!=item.text
              .main-nav__additional-info
                button.btn-reset.main-nav__call(type="button" data-open-modal="request") Заказать звонок
                .main-nav__contacts
                  a.main-nav__phone(href="tel:88124256427") 8 (812) 425-64-27
                  +socials().main-nav__socials
                a.main-nav__basket(href="#" aria-label="Корзина")
                  +icon("icon-basket", 32, 32)
                  span.main-nav__quantity 3
      +menu().header__menu
