//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/icon-img
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

//- Blocks

include ./blocks/intro
include ./blocks/accordion
include ./blocks/socials
include ./blocks/menu
include ./blocks/section
include ./blocks/categories
include ./blocks/category-card
include ./blocks/slider-controls
include ./blocks/brands
include ./blocks/brand-card
include ./blocks/recommend
include ./blocks/product-card
include ./blocks/watched
include ./blocks/inner-page
include ./blocks/breadcrumbs
include ./blocks/catalog
include ./blocks/catalog-main
include ./blocks/catalog-categories
include ./blocks/catalog-filter
include ./blocks/product
include ./blocks/product-features
include ./blocks/basket
include ./blocks/basket-card
include ./blocks/counter
include ./blocks/order
include ./blocks/order-card
include ./blocks/order-region
include ./blocks/order-delivery
include ./blocks/order-payment
include ./blocks/order-payer
include ./blocks/order-total
include ./blocks/success
include ./blocks/service
include ./blocks/feedback
include ./blocks/delivery
include ./blocks/payment
include ./blocks/contacts
include ./blocks/page-not-found
include ./blocks/request

//- Mixins

include ./mixins/btn
include ./mixins/custom-checkbox
include ./mixins/custom-input
include ./mixins/custom-radio
include ./mixins/custom-select
include ./mixins/custom-textarea
